body {
  color: blueviolet; 
  background-image: url("picture.jpg");
  text-align: center;
}

.megan-image{
    height: 500px;
    width: auto;
    background-position: center;
    background-size: cover;
    position: relative;
  }

p {
  color: fuchsia;
  text-align: center;
}

