body {
  color: blueviolet; 
  background-image: url("picture.jpg");
  text-align: center;
}

.megan-image{
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: #cccccc;
  }

p {
  color: fuchsia;
  text-align: center;
}

