body {
  color: blueviolet; 
  background-image: url("Megan Potter.jpg");
  text-align: center;
}

.megan-image{
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
  }

p {
  color: fuchsia;
  text-align: center;
}

